# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Data and Outputs (usually ignored in version control if large)
data/
outputs/
*.zip

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
